/***** ANIMATIONS *****/

//Button Push animation
@-webkit-keyframes push {
  50% {
    -webkit-filter: hue-rotate(30deg) brightness(.5);
    filter: hue-rotate(30deg) brightness(.5);
    -webkit-transform: scale3d(.8, .8, .8);
    transform: scale3d(.8, .8, .8);
  }
}

@keyframes push {
  50% {
    -webkit-filter: hue-rotate(30deg) brightness(.5);
    filter: hue-rotate(30deg) brightness(.5);
    -webkit-transform: scale3d(.8, .8, .8);
    transform: scale3d(.8, .8, .8);
  }
}

.push {
  -webkit-animation: push .125s linear;
  animation: push .125s linear;
}

//Enlarging background-image(button?) animation
@-webkit-keyframes pulse {
  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);}
}

@keyframes pulse {
  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);}
}

.pulse {
  -webkit-animation: pulse 3s linear infinite;
  animation: pulse 3s linear infinite;
}

//Image rotation
@-webkit-keyframes rotate {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotate {
  -webkit-animation: rotate 3s linear infinite;
  animation: rotate 3s linear infinite;
}