@import "colors";
@import "animation";

@font-face {
  font-family: 'HelveticaNeueLTStd-MdCn';
  src: url("../fonts/HelveticaNeueLTStd-MdCn.ttf");
  font-weight: normal;
  font-style: normal;
}

html, body {
  display: block;
  font-size: 1.2rem;
  font-family: "Helvetica Neue LT Std", Arial, sans-serif;
  font-weight: normal;
  line-height: 1.2;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: $secondary-color;
  color: $primary-color;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  font-family: inherit;
}

img {
  display: block;
}

h1,h2,h3,h4,p,ul,ol{
  margin:0;
  padding:0;
}

.wrapper {
  height: 100%;
}

#start {
}

#data {
  display: none;
}

#mozeus {
  margin: 0 auto;
  overflow: auto;
  width: 80%;
}


input, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: $secondary-color;
  border: 2px solid #bdbdbd;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: $primary-color;
  font-size: 1.2rem;
  margin: .5rem 0;
  padding: 1rem;
  width: 100%;
}

#Email {
  border-right: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  float: left;
  width: 84%;
}

#EmailDomain {
  border-left: 1px solid $primary-color;
  -webkit-border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  float: right;
  width: 16%;
}

::-webkit-input-placeholder {
  color: $primary-color;
}

:-moz-placeholder {
  color: $primary-color;
}

::-moz-placeholder {
  color: $primary-color;
}

:-ms-input-placeholder {
  color: $primary-color;
}

*:focus {
  outline: 0;
}

input[type=checkbox] {
  background: url('../img/check-off.png') no-repeat center center;
  float: left;
  height: 30px;
  -webkit-background-size: 30px 30px;
  margin: 0 .5rem 0 0;
  padding: 0;
  width: 30px;
}

input[type=checkbox]:checked {
  background: url('../img/check-on.png') no-repeat center center;
  height: 30px;
  padding: 0;
  width: 30px;
  -webkit-background-size: 30px 30px;
}

input[type=text], input[type=tel], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: 1px solid #DDDDDD;
}

input[type=text]:focus, input[type=tel]:focus, textarea:focus {
  box-shadow: 0 0 10px rgba(81, 203, 238, 1);
  outline: 1px solid rgba(81, 203, 238, 1);
}

.checkLabel {
  width: 90%;
}

.button {
  background-color: $primary-color;
  color: $secondary-color;
  display: block;
  font-size: 1.2rem;
  margin: 1rem 0;
  padding: .5rem 1.25rem;
  text-align: center;
  text-transform: uppercase;
}

/***** FLEX-BOX CLASSES *****/
.flex-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.full-size {
  height: 100%;
  width: 100%;
}

.form-checkbox-align {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding: .5rem 0;
}

.input-section {
  position: relative;

  .input-placeholder {
    -webkit-transition: top .3s,font-size .3s;
    transition: top .3s,font-size .3s;
    position: absolute;
    padding-left: 16px;
    top: 30px;
    z-index: 1;
    font-size: 24px;
    font-weight: normal;
    cursor: text;
  }

  .input-feed {

  }

  .input-wrap {

  }

  .minified {
    z-index: 3;
    font-size: 15px;
    top: 16px;
    left: 5px;
  }
}






.keypad {
  clear: both;
  height: 50%;
}

/* Remove keypadding on iOS and desktop */
@media screen and (device-width: 320px) and (max-device-height: 568px) and (-webkit-min-device-pixel-ratio: 2), screen and (device-width: 375px), screen and (device-width: 414px), screen and (device-width: 768px) {
  .keypad {
    height: 0;
  }
}

/* rotate */
@media all and (orientation: portrait) {
  html, body {
    overflow: hidden;
  }

  body * {
    display: none!important;
  }

  body:after {
    background: transparent url('../img/rotate.png') 50% 50% no-repeat;
    background-size: 66.66% auto;
    bottom: 0;
    content: "";
    left: 0;
    right: 0;
    position: absolute;
    top: 0;
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transition-timing-function: linear;
    /*-webkit-filter: drop-shadow(0 0 .5em rgba(0,0,0,0.5));*/
    z-index: 50;
  }

  body:before {
    content: "ROTATE";
    color: $primary-color;
    font-size: 2rem;
    position: absolute;
    top: 49%;
    text-align: center;
    width: 100%;
  }
}

